In [6]:
import pandas as pd
from scipy import stats

In [3]:
d = pd.read_csv('d.csv')
d

    group_A  group_B
0      21.0     21.0
1      18.0     12.0
2      12.0      8.0
3       8.0     22.0
4      20.0      5.0
..      ...      ...
84     16.0     14.0
85      9.0     17.0
86     17.0     15.0
87     13.0     21.0
88     19.0     10.0

[89 rows x 2 columns]

In [11]:
ttest ,pval = stats.ttest_ind(d['group_A'], d['group_B'], equal_var=False)
ttest ,pval

TypeError: ttest_ind() got an unexpected keyword argument 'alternative'